<% include partials/header %>

  <h1>채팅 훔쳐보기</h1>
  <form action="/authentication" method="POST">
    <input name="id" type="text" />
    <input name="password" type="password" />
    <input value="login" type="submit" />
  </form>

<% include partials/footer %>